main.main {
  min-height: 100%;
  flex: 1;
  gap: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
img.logo {
  height: 5vmin;
  margin-right: 0.5rem;
  pointer-events: none;
}
.header {
  width: 50vw;
  gap: 1vw;
  h1 {
    flex: 1;
    text-align: center;
  }
}
