main.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
img.logo {
  height: 5vmin;
  margin-right: 0.5rem;
  pointer-events: none;
}
.header {
  flex: 1;
  text-align: center;
}
